<% @title="Travel | Digital Experiences" %>
<%= render "site/navbar2" %>
<section class="d-flex justify-content-center pt-lg-5 mt-lg-5 homepage-hero">
  <div class="container">
    <!--Grid row-->
    <div class="row d-flex h-100 justify-content-center align-items-center">
      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <h1 class="font-weight-bold text-ima-dark"><span class="h3">Build your own brand,</span><br>
        Transforming your Travel Business</h1>
        <form class="" novalidate="novalidate" action="<%= new_user_registration_path %>" accept-charset="UTF-8" method="get" >
          <div class="marketing-input-button-pair__field-wrapper">
            <label for="inputEmail" class="sr-only" for="SignupEmail">Email address</label>
            <input placeholder="Enter your email address" id="SignupEmail" class="marketing-input"  type="email" name="email" required="">
            <button class="bg-green-cta marketing-button marketing-form__button marketing-input-button-pair__button" aria-haspopup="dialog" type="submit">Start free trial</button>
          </div>
        </form>
        <small class="text-muted">Try Digital Experiences (DEX) free for 14 days, no credit card&nbsp;required. By entering your email, you agree to receive marketing emails&nbsp;from&nbsp;Digital Experiences (DEX).</small>
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-md-6 col-xl-5 mb-4">
        <%= image_tag(root_path + "images/admin-new.png", :class => "img-fluid", :alt => "digital experiences platform") -%>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
</section>
<section class="pt-4 pb-4">
  <div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 text-center">
            <h2 class="heading--2 font-weight-4 text-ima-dark">Brands Successfully using the digital transformation solution</h2>
        </div>
        <div class="col-12 col-lg-10">
            <div class="row ">      
                <div class="col-lg-2 mb-4"><img src="images/clients/travel/1-mercury-travels.png" title="1 Mercury Travels" alt="1 Mercury Travels" class="img-fluid"></div>
                <div class="col-lg-2 mb-4"><img src="images/clients/travel/2-via.com.png" title="2 Via.com" alt="2 Via.com" class="img-fluid"></div>
                <div class="col-lg-2 mb-4"><img src="images/clients/travel/4-luxury-initiative-of-ebix-cash.png" title="4 Luxury Initiative Of Ebix Cash" alt="4 Luxury Initiative Of Ebix Cash" class="img-fluid"></div>
                <div class="col-lg-2 mb-4"><img src="images/clients/travel/euro-cursions.png" title="Euro Cursions" alt="Euro Cursions" class="img-fluid"></div>
                <div class="col-lg-2 mb-4"><img src="images/clients/travel/swiss-voyages.png" title="Swiss Voyages" alt="Swiss Voyages" class="img-fluid"></div>
                <div class="col-lg-2 mb-4"><img src="images/clients/travel/travel-guru-homestays.png" title="Travel Guru Homestays" alt="Travel Guru Homestays" class="img-fluid"></div>
                <div class="col-lg-2 mb-4"><img src="images/clients/travel/leisure-safaris.png" title="Leisure Safaris" alt="Leisure Safaris" class="img-fluid"></div>
                <div class="col-lg-2 mb-4"><img src="images/clients/travel/leisure-sports-travel.png" title="Leisure Sports Travel" alt="Leisure Sports Travel" class="img-fluid"></div>
                <!--
                <div class="col-lg-2 mb-4"><img src="images/clients/travel/idms-tours.png" title="Idms Tours" alt="Idms Tours" class="img-fluid"></div>
                <div class="col-lg-2 mb-4"><img src="images/clients/travel/3-yatra.com.png" title="3 Yatra.com" alt="3 Yatra.com" class="img-fluid"></div>
                <div class="col-lg-2 mb-4"><img src="images/clients/travel/mice-pro-travel.png" title="Mice Pro Travel" alt="Mice Pro Travel" class="img-fluid"></div>
                <div class="col-lg-2 mb-4"><img src="images/clients/travel/parfait-hospitality.png" title="Parfait Hospitality" alt="Parfait Hospitality" class="img-fluid"></div>
                <div class="col-lg-2 mb-4"><img src="images/clients/travel/questrail.png" title="Questrail" alt="Questrail" class="img-fluid"></div>
                <div class="col-lg-2 mb-4"><img src="images/clients/travel/renok-adventure.png" title="Renok Adventure" alt="Renok Adventure" class="img-fluid"></div>
                <div class="col-lg-2 mb-4"><img src="images/clients/travel/stay-out-adventure.png" title="Stay Out Adventure" alt="Stay Out Adventure" class="img-fluid"></div>
                -->
               
            </div>
       </div>
    </div>  
  </div>
</section>
<section class="professionals__vertical d-flex justify-content-center pt-5 mt-5 pb-5 mb-5 bg-green-80 text-ima-dark">
  <div class="container">   
    <div class="row d-flex pt-5 justify-content-center">
      <div class="col-md-12 pb-1 pb-5">
        <h2 class="heading--2 font-weight-4 text-ima-dark">Take the best path forward</h2>
      </div>
      <div class="clearfix"></div>
      <div class="col-12 col-sm-6 col-md-3 pt-2 pb-2">
        <i class="fas fa-globe fa-2x pt-1 pb-3"></i>
        <h3 class="h5 pt-1 pb-2">Start an online business</h3>
        <p class="">Create a business, whether you’ve got a fresh idea or are looking for a new way to make money.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3 pt-2 pb-2">
        <i class="fas fa-people-carry fa-2x pt-1 pb-3"></i>
        <h3 class="h5 pt-1 pb-2">Move your business online</h3>
        <p class="">Turn your retail store into an online store and keep serving customers without missing a beat.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3 pt-2 pb-2">
        <i class="fas fa-toggle-off fa-2x pt-1 pb-3"></i>
        <h3 class="h5 pt-1 pb-2">Switch to DeX</h3>
        <p class="">Bring your business to DeX, no matter which ecommerce platform you’re currently using.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3 pt-2 pb-2">
        <i class="fas fa-users fa-2x pt-1 pb-3"></i>
        <h3 class="h5 pt-1 pb-2">Hire a DeXpert</h3>
        <p class="">Get setup with the help of a trusted freelancer or agency from the DeX Experts Marketplace.</p>
      </div>
    </div>
  </div>
</section>
<section class="about">
  <div class="container">
    <div class="row justify-content-center pb-5 text-center">
      <div class="col-lg-6">
        <h2 class="heading--2">With you wherever you’re going</h2>
        <p class="">One platform with all dynamic website, payment gateway, ecommerce management and crm features you
          need to start, run, and grow your&nbsp;business.</p>
      </div>
    </div>
    <div class="row pt-5 pb-5">
      <div class="col-lg-6">
        <%= image_tag(root_path + "images/about.png", :class => "img-fluid", :alt => "digital experinces services") -%>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content align-self-center ">
        <h3 class="heading--2 text-grey font-weight-4" >Sell<br>everywhere</h3>
        <p class="">
          Use one platform to sell products to anyone, anywhere—in person with Point of Sale and online through your website, social media, and online marketplaces.
        </p>
        <!-- <ul>
          <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
          <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
          <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda</li>
        </ul> -->
        <a class="link link--secondary" href="/sell">Explore ways to sell<svg aria-hidden="true" viewBox="0 0 48 16" class="link__arrow" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg"><g class="link__arrow-inner"><line x1="0" y1="8" x2="46" y2="8"></line><polyline points="39.5 1, 46.5 8, 39.5 15"></polyline></g></svg></a>
      </div>
    </div>
    <div class="row pt-5 pb-5">
      <div class="col-lg-6 pt-4 pt-lg-0 content align-self-center ">
        <h3 class="heading--2 text-grey font-weight-4" >Market<br>your business</h3>
        <p class="font-italic">
          Take the guesswork out of marketing with built-in tools that help you create, execute, and analyze digital marketing campaigns.
        </p>
 
        <a class="link link--secondary" href="/market">Explore how to market your business<svg aria-hidden="true" viewBox="0 0 48 16" class="link__arrow" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg"><g class="link__arrow-inner"><line x1="0" y1="8" x2="46" y2="8"></line><polyline points="39.5 1, 46.5 8, 39.5 15"></polyline></g></svg></a>
      </div>
      <div class="col-lg-6">
        <%= image_tag(root_path + "images/market-your-business.jpg", :class => "img-fluid", :alt => "market your business") -%>
      </div>
    </div>
    <div class="row pt-5 pb-5">
      <div class="col-lg-6">
        <%= image_tag(root_path + "images/manage-everything.jpg", :class => "img-fluid", :alt => "digital experinces services") -%>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content align-self-center ">
        <h3 class="heading--2 text-grey font-weight-4" >Manage<br>everything</h3>
        <p class="">
          Gain the insights you need to grow—use a single dashboard to manage orders, shipping, and payments anywhere you go.
        </p>
 
        <a class="link link--secondary" href="/manage">Explore how to manage your business<svg aria-hidden="true" viewBox="0 0 48 16" class="link__arrow" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg"><g class="link__arrow-inner"><line x1="0" y1="8" x2="46" y2="8"></line><polyline points="39.5 1, 46.5 8, 39.5 15"></polyline></g></svg></a>
      </div>
    </div>
  </div>
</section>

<%= render "site/page_cta" %>
<%= render "site/footer" %>